@model IEnumerable<AquentChallenge.Models.Client>

@{
    ViewData["Title"] = "Index";
    bool showDeleted = Convert.ToBoolean(ViewData["ShowDeleted"]);
}

<h1>All Clients</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-indigo btn-lg px-4">+ Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            @if (showDeleted)
            {
                <th>@Html.DisplayNameFor(model => model.IsDeleted)</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            @if (showDeleted) { 
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
            }
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
